<main role="main" >
  <div class="gel-wrap">
    <story class="story--body">
      <div class="story--content">
        <div class="story--header">
          <h3 class="story--title">{{title}}</h3>
          {{#metadata}}
            {{ molecule "metadata"}}
          {{/metadata}}

          {{#if image}}
          <figure class="{{media-classes}}">
            {{ atom "image"}}
             {{#if media-caption}}
              <figcaption class="media-caption">
                  <span class="media-caption__text">
                     {{media-caption}}
                  </span>
              </figcaption>
            {{/if}}
          </figure>
          {{/if}}

        </div>



        <div class="story--inner">
          {{#each story-body}}
          <!-- Paragraph -->

            {{#if story-intro}}
              <p class="story--intro">{{{ story-intro }}}</p>
            {{/if}}

            {{#if paragraph}}
              <p>{{{ paragraph }}}</p>
            {{/if}}
          <!-- Image -->
            {{#if image}}
            <figure class="{{media-classes}}">
              {{ atom "image"}}
               {{#if media-caption}}
                <figcaption class="media-caption">
                    <span class="media-caption__text">
                       {{media-caption}}
                    </span>
                </figcaption>
              {{/if}}
            </figure>
            {{/if}}

            {{#if crosshead}}
              <h2 class="story--crosshead">{{crosshead}}</h2>
            {{/if}}

          {{/each}}
        </div>
      </div>

    </story>
  </div>
</main>
