




{{#live_promo}}
<div class="live_promo promo__item">

<ol class="lx-c-key-points">
  {{#if live-label}}
  <li class="lx-c-key-points__item lead_key-points_headline">
      <a class="lx-c-key-points__link gs-o-media" href="#">
          <div class="gs-o-media__img">

                  {{ atom "live-status" }}

          </div>
          <div class="gs-o-media__body">
              <span class="lx-c-key-points__text gel-pica-bold"><span class="gs-o-live-status__text">{{live-label}}</span>{{headline}}</span>
          </div>
      </a>
  </li>
  {{/if}}
  {{#if summary}}
    <li class="lx-c-key-points__item">
        <span class=" gs-o-media" href="#">

              <div class="gs-o-media__img">
                    {{ atom "icon" classes="icon--type icon--keypoints" set="core" icon="keypoint"}}

              </div>

            <div class="gs-o-media__body">

                <span class="promo__summary gel-long-primer"> {{summary}}</span>
            </div>
        </span>
    </li>
  {{/if}}

  {{#each keypoint}}
  {{#if headline}}
    <li class="lx-c-key-points__item">
        <a class="lx-c-key-points__link gs-o-media" href="#">

              <div class="gs-o-media__img">
                    {{ atom "icon" classes="icon--type icon--keypoints" set="core" icon="keypoint"}}

              </div>

            <div class="gs-o-media__body">

                <span class="lx-c-key-points__text gel-long-primer">  <time timestamp="{insert-time-stamp}" class="lx-c-key-points__timestamp">{{timestamp}}</time> {{headline}}</span>
            </div>
        </a>
    </li>
      {{/if}}
      {{#if live-updates}}
        <li class="lx-c-key-points__item live-updates">
            <a class="lx-c-key-points__link gs-o-media" href="#">

                  <div class="gs-o-media__img">
                        {{ atom "icon" classes="icon--type icon--keypoints" set="core" icon="down"}}

                  </div>

                <div class="gs-o-media__body">

                    <span class="lx-c-key-points__text gel-brevier-bold">{{live-updates}}</span>
                </div>
            </a>
        </li>
      {{/if}}
  {{/each}}




</ol>

{{#metadata}}
  {{ molecule "metadata" }}
{{/metadata}}

</div>
{{/live_promo}}
