<div data-toggle-add-topic="{{classes}}" >
<a href="{{url}}" class="disabled add--toggle-button" data-toggle-add-topic="{{classes}}">
  <span class="nw-c-toggle-button__indicator nw-c-toggle-button__indicator--small nw-c-toggle-button__indicator--add animated">

<span class="toggle--add">
    {{ atom "icon" classes="icon--type gel-long-primer" set="core" icon="add"}}
</span>
<span class="toggle--remove">
    {{ atom "icon" classes="icon--type gel-long-primer" set="core" icon="yes"}}
</span>
<span class="toggle--hover">
    {{ atom "icon" classes="icon--type gel-long-primer" set="core" icon="no"}}
</span>
    <span class="add-text gel-long-primer"></span>
  </span>



</a>

  <div class="display-tool-tip ">
  <div class="tooltip--body">
    {{ atom "icon" classes="icon--type gel-long-primer" set="core" icon="yes"}}
   <span class="tooltip--message gel-paragon"><a class="tooltip--link" target="_blank"  href="{{url}}">  {{topic-name}} </a> added to <a target="_blank"  class="tooltip--link" href="#tooltip ">My News </a></span>
</div>
</div>
</div>
