{{!-- dynamic_promo.hbs --}}

<div class="promo__item dynamic_promo ">
<h3 class="dynamic_promo__headline at-links-faux-block-link__target">{{#if label-text}}{{ atom "label" label-classes="promo__label"}}{{/if}}{{#if headline-live-label}}{{ atom "live-status" }}<span class="gs-o-live-status__text">{{headline-live-label}}</span>{{/if}}<a class="title-link" href="{{url}}"><span class="title-link__title-text">{{headline}}</span> </h3>
  <!-- <ul id="js-rotating">
      <li class="gel-pica">Footage from the Amatrice aftershock
        {{#metadata}}
          {{ molecule "metadata" }}
        {{/metadata}}
      </li>
      <li class="gel-pica">Survivors escorted home to pick up belongings</li>
      <li class="gel-pica">Hotel, school and church are damaged in Amatrice</li>
      <li class="gel-pica">More than 2,500 volunteers part of rescue</li>
      <li class="gel-pica">Millions for euros for earthquake-proofing buildings 'never spent'</li>
      <li class="gel-pica">Camps are set up for earthquake refugees</li>
      <li class="gel-pica">A number of British nationals have been affected' - UK foreign secretary</li>
  </ul> -->



</div>
