
  <ul class="see-also {{see-also-classes}}">
    {{#see-also}}
      <li class="bullets see-also__item {{classes}}">

          <a class="title-link" href="{{url}}">

            <span class="title-link__title-text gel-brevier-bold">{{#if label}}<span class="label__text">{{label}}</span>{{/if}}{{#if live-status}}<span class="gs-o-live-status__text">{{live-status}}</span>{{/if}}{{headline}}</span>
          </a>

      </li>
    {{/see-also}}
  </ul>
