
<section class="max--wrap gs-u-clearfix {{classes}}">
  <!-- 5 items group -->

  <!-- <div class="branding-image">
      <svg viewBox="0 0 1008 567" preserveAspectRatio="xMinYMin meet">
          <defs>
              <filter id="blur">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="8"></feGaussianBlur>
                  <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"></feColorMatrix>
              </filter>
          </defs>
          <image filter="url(#blur)" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://ichef.bbci.co.uk/images/ic/320x180/p036gj4q.jpg" x="0" y="0" width="100%" height="567px"></image>
        </svg>
  </div> -->


  <div class="gel-wrap item__max">
  <div class="gel-layout layout--flex@xxl">

    <div class="gel-layout__item">
    

      <div class="max--box">
        <div class="gel-layout {{flex-classes}}">
          {{#each promo-items}}
          <div class="gel-layout__item max__item max__item--{{@index}} {{classes}}">

            {{ molecule "promo"}}

          </div>
          {{/each}}
        </div>
      </div>
    </div>

    </div>
  </div>


  {{#cluster}}
      <div class="item__max">
        {{organism "iron" }}
      </div>
  {{/cluster}}



</section>
