<section class="silver--wrap gs-u-clearfix {{classes}}">
  <!-- 5 items group -->

  <div class="gel-wrap">
      {{ molecule "stripenav" }}
  <div class="gel-layout layout--flex@xxl">

    <div class="gel-layout__item">
      <div class="silver--box">
        <div class="gel-layout {{flex-classes}}">
          {{#each promo-items}}
          <div class="spacing--vertical@s at-line-b-until@m spacing--vertical@m spacing--vertical@l spacing--vertical@xxl gel-layout__item silver__item silver__item--{{@index}} {{classes}}">

            {{ molecule "promo"}}

          </div>
          {{/each}}

          <div class="silver__groupings layout--flex@s {{flex-classes}}">

            {{#each promo-groupings}}
              <div class="spacing--vertical@s spacing--vertical@m spacing--vertical@l spacing--vertical@xxl gel-layout__item silver__item silver__item--{{@index}} {{classes}}">

                {{ molecule "promo"}}

              </div>
            {{/each}}

          </div>

        </div>
      </div>
    </div>

    </div>
  </div>
    <!-- END 5 items group -->
</section>
