

  <section class="iodine--wrap gs-u-clearfix {{classes}}">

    <div class="gel-wrap">

      {{ molecule "stripenav" }}

    </div>

      <div class="gel-wrap">
        <div class="iodine--box">
          <div class="gel-layout layout--flex@m layout--flex@l">
            {{#each promo-items}}
            <div class="gel-layout__item iodine__item iodine__item--{{@index}} {{classes}}">

              {{ molecule "on-now"}}

              {{ molecule "promo"}}

            </div>
            {{/each}}
          </div>
        </div>
      </div>
  </section>
