

<section class="mostpop--wrap gs-u-clearfix gs-u-mt+ active {{classes}}" >
  <!-- 5 items group -->


  <div class="gel-wrap">
    {{ molecule "stripenav" }}
    <div class="gel-layout">

    <ul class="mostpop__list gel-layout__item">
      {{#each mostpop-items}}
        <li class="mostpop__list-item {{classes}}">
          <a href="{{url}}" class="mostpop__list-item-link">
              <span class="mostpop__list-item-rank">{{rank}}</span>
              <span class="mostpop__list-item-headline gel-pica-bold">{{#if icon}} {{ atom "icon" set="media" classes="gs-o-media-icon__icon gel-icon" }} {{/if}}{{headline}}</span>
          </a>
        </li>
      {{/each}}
    </ul>

{{#showmore}}
    <div class="showmore">
                <div class="vxp-mostpop__show-more">
                    <button data-anijs="if: click, do: $toggleClass visible, to: .mostpop--wrap .show-more-hidden\@xs"   class="show-more-button gel-pica-bold" style="display: block;">Show more</button>
                </div>
            </div>
{{/showmore}}

    {{#advert}}
    <div class="ad-slot gel-1/3@l gel-2/5@xxl gel-layout__item">
      {{ "molecule" "advert_slot_three"}}
    </div>
    {{/advert}}


    </div>
  </div>
  <!-- END 5 items group -->
</section>
